.contact{
    padding: 10rem 4rem;
    position: relative;
    overflow: hidden;
    color: #111;

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
        

        h2{
          
            font-size: 5.8rem;
            font-weight: 600;
            line-height: 5.9rem;
            letter-spacing: 0em;
            text-align: center;
            text-transform: uppercase;

        }

        .form{
            // border: 1px solid gray;
            width: 100%;
            // background: rgba( 255, 255, 255, 0.25 );
            // box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
            // backdrop-filter: blur( 2.4rem );
            // -webkit-backdrop-filter: blur( 2.4rem );
            border-radius: 1rem;

            // padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .item{
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                gap: .5rem;

                label{
                    font-size: 2.2rem;
                }
                
                input,textarea{
                    width: 100%;
                    padding: 2rem;
                    border: .1rem solid rgba(255, 255, 255, 0.219);
                    // background: rgba( 255, 255, 255, 0.25 );
                    // box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
                    // backdrop-filter: blur( 2.4rem );
                    // -webkit-backdrop-filter: blur( 2.4rem );
                    border-radius: 1rem;
                    color: #111;
                    background: none;
                    outline: none;
                    color: white;

                    &::placeholder{
                        color: white
                    }
                }

                button{
                    padding: 1rem 2rem;
                    font-size: 1.8rem;
                    background:rgba(243, 248, 7, 0.87);
                
                    border: none;
                    border-radius: 1rem;
                    color:#000;
                    cursor: pointer;
                
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    transition: all .2s ease-in-out;
                
                    &:hover{
                        transform: scale(1.1);
                      background: #000;
                      color: rgba(243, 248, 7, 0.87);
                    }
                }
            }
        }
    }
}